@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.login-box {
	margin-top: 80px;
}

.mention
{
	// border-bottom: solid 1px $silver;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #ecf0f1;
	border-radius: 10px;

	.profile-img
	{
		padding:10px;
	}
}

.mention-reply
{
	margin-top:50px;
	margin-bottom:50px;
}

.thread-message
{
	background-color: #ecf0f1;
	border-radius: 10px;
	padding:10px;

	margin-bottom:20px;
}

.ticket-reply
{
	padding-top:30px;
}
<<<<<<< HEAD

p.time
{
	color: $asbestos;
}
=======
>>>>>>> develop
